# This file lists the Python packages needed to build the documentation.

# The core documentation generator
sphinx

# A modern, clean theme for Sphinx websites
pydata-sphinx-theme

# To fix (2) in `conf.py`
furo

# For creating a gallery of examples from Python scripts
sphinx-gallery

# This was ruining my pip install -r requirements.txt.
# The sad thing is that it's not even necessary.
"""# For understanding NumPy/Google style docstrings
# sphinx.ext.napoleon"""

# Your library's own dependencies, so examples can run
numpy
plotly
